body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
}

.section {
  border-left: 3px solid green;
  padding-left: 30px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
